.title {
  margin: 16px 0 32px;
}

.authForm {
  display: flex;
  align-items: center;
  flex-direction: column;

  width: 300px;
  margin: 100px auto 0;
}

.form {
  width: 100%;
}

.confirmBtn {
  margin: 24px auto;
}
